# Ignora arquivos com chaves de API (Gemini) e senhas
.env
.env.*

# -----------------------------------------------
# 2. DEPENDÊNCIAS DO NODE.JS (api-gateway, agente-revisor)
# -----------------------------------------------
# A pasta de dependências baixadas
node_modules/

# Logs de erro do NPM
npm-debug.log*

# -----------------------------------------------
# 3. DEPENDÊNCIAS DO PYTHON (agente-gerador)
# -----------------------------------------------
# Pastas de Ambiente Virtual 
.venv/
venv/
env/

# Cache de bytes compilados do Python
__pycache__/
*.py[cod]

# -----------------------------------------------
# 4. ARQUIVOS DE IDE E SISTEMA
# -----------------------------------------------
# Cache do VS Code
.vscode/

# Arquivos de sistema do macOS e Windows
.DS_Store
Thumbs.db